.policy {
  color: #0a74a2;
}

.policyTitle {
  font-family: "Fuzzy Bubbles", sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  color: rgb(234, 214, 38);
  margin-top: 30px;
}

.policyText {
  margin-top: 30px;
  font-style: 18px;
}
.policyList {
  list-style-type: disc;
  padding-left: 10px;
}

.listItem {
  margin-top: 20px;
}

.itemTitle {
  font-family: "Fuzzy Bubbles", sans-serif;
  color: rgb(234, 214, 38);
  font-weight: 700;
  margin-bottom: 5px;
}

.itemList li {
  padding-left: 10px;
  margin-top: 6px;
}
