/*
========================
BASE STYLES
========================
*/

/* font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
}

.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 429px) and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 25px;
  }
}
@media (min-width: 769px) and (max-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 40px;
  }
}
@media (min-width: 1158px) {
  .container {
    min-width: 1158px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.slick-next::before,
.slick-prev::before {
  content: none;
}
.sliderCard-container .slick-slide > div {
  /* width: 80%; */
  margin-top: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
}
